
h1{
    text-align: center; justify-content: center;top: auto;
    color: rgb(119, 112, 70);
    border: solid black;
    background-color: rgb(255, 217, 0);
    font-family:helvetica 
    
}
ol{
    font-family: helvetica;
    color: rgb(135, 136, 61);
    
}
body{
    background-color: rgba(14, 12, 12, 0.781);
}